/* notesstyles.css */

.intro {
  text-align: center;
}

.intro h1 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.intro-subtitle {
  font-size: 1rem;
  color: #555;
  font-style: italic;
}

.notes {
  margin-top: 2rem;
  text-align: left;
}

.note { margin-bottom: 1.5rem; }

.note p {
  margin: 0 0 0.5rem;
}

.note-date {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
}
